.center {
    display: grid;
    place-items: center;
    position: relative;
    height: 4rem;
    width: 4rem;

}

.circle0 {
    position: absolute;
    left: 0;
}

* {
    --r: 10 --pi: Math.pi;
    --x1: 2rem*Math.cos(10*var(--pi)/360);
    --y1: 2rem*Math.sen(10*var(--pi)/360)
}

.circle1 {
    position: absolute;
    top: var(--x2);
    left: var(--x1)
}

.circle2 {
    position: absolute;
    left: 2px;
    top: 2px
}

.circle3 {
    position: absolute;
    left: 1;
    top: 1
}

.circle4 {
    position: absolute;

}

.circle5 {
    position: absolute;

}

.circle6 {
    position: absolute;

}

.circle7 {
    position: absolute;

}

.circle8 {
    position: absolute;
    top: 0
}