.taskForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textTask {
    height: 4rem;
    width: 100%;
}

.messageError {
    color: red;
    font-size: 0.5rem;
    padding: 0 0 0.5rem 0.5rem;
}