.navBarContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.addTaskButton {
  background-color: inherit;
  border: none;
  color: blue;
}

.addTaskButton:hover {
  text-decoration: underline;
}